.my-info {
  --max-width: 550px;
}

.my-info article {
  display: grid;
  grid-template-columns: max-content auto;
  width: 100%;
  max-width: var(--max-width)
}

.my-info h1 {
  text-align: left;
  max-width: var(--max-width);
  width: 100vw;
  padding-left: 1.5rem;
}

.my-info .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-info nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  outline: none;
  margin: 0;
  padding: 0;
}

.my-info nav ul li {
  /* padding: 1.5rem;
  padding-right: 2.5rem; */
  width: 100%;
  box-sizing: border-box;
  color:var(--light-text);
  cursor: pointer;
  display: grid;
  grid-template-columns: 5px 100px;
  padding: 0;
  /* height: 40px; */
}

.my-info nav ul li.selected>div {
  background-color: var(--secondary);
}

.my-info nav ul li p {
  padding: 1rem 1.5rem;
}

.my-info fieldset {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.my-info button {
  width: 100%;
}

.my-info nav ul li.selected {
  color:var(--dark-text);
  font-weight: 500;
}

.my-info nav ul li:hover, .my-info nav ul li:focus {
  background-color: var(--grey-bg);
}

.my-info div.load-button {
  width: 120px;
}

.my-info form {
  padding: 1.5rem;
}

@media screen and (max-width: 550px) {
  #my-info-nav {
    display: none;
  }
  .my-info article {
    grid-template-columns: auto;
  }
}