.address-search{
  display: grid;
  grid-template-rows: auto max-content;
  grid-gap: 15px;
  align-items: end;
}

.address-search.columns{
  grid-template-columns: auto 250px;
}

.address-search.columns button{
  height: 50px;
}

/* .address-search fieldset{
  border: 2px solid var(--un-focus);
} */

.use-my-location div{
  display: flex;
  align-items: center;
}

.use-my-location svg {
  fill: var(--link-text);
  margin-left: 1rem;
}