button, a.button{
  border-radius: 10rem;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: 2px solid transparent;
  outline: 2px solid transparent;
  background-color: var(--background-blue);
  color: var(--link-text);
  border: 2px solid transparent;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  display: inline-flex;
  cursor: pointer;
  margin: 1.5rem 0;
}

button.logout, a.button.logout {
  background-color: var(--background-warning);
  color: var(--warning);
}

button.logout:hover, a.button.logout:hover, button.logout:focus, a.button.logout:focus {
  background-color: var(--background-warning-dark);
}

button.close {
  border: none;
  outline: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 4.2rem;
  font-size: 4rem;
  font-weight: 200;
  color: var(--dark-text);
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

button.close:hover, button.close:focus {
  background-color: var(--background-blue);
  border: none;
}


button:hover, a.button:hover, button:focus, a.button:focus {
  background-color: var(--background-darker);
  border: 2px solid transparent;

  /* border: none; */
  /* outline: none; */
}

button:focus, a.button:focus {
  /* border: 2px solid var(--focus);  */
  /* border: none; */
  /* outline: none; */
  /* background-color: var() */
  border: 2px solid transparent;
}

.icon-button {
  display: inline-flex;
  color: var(--link-text);
}

.icon-button:focus {
  border: 2px solid transparent;
  outline: 2px solid transparent;
}

button.primary, a.button.primary {
  background-color: var(--primary);
  color: var(--background-white);
}

/* button.primary:focus, a.button.primary:focus {
  border: 2px solid;
} */

button.primary:hover, 
a.button.primary:hover, 
button.primary:focus, 
a.button.primary:focus {
  background-color: var(--primary-dark);
}

button.soft-shadow, 
a.soft-shadow, 
button.soft-shadow.disabled:hover, 
button.soft-shadow.disabled:focus,
a.soft-shadow.disabled:hover, 
a.soft-shadow.disabled:focus {
  box-shadow: 1rem 1rem 2rem var(--shadow);
}

button.soft-shadow:hover, a.soft-shadow:hover {
  box-shadow: 0.8rem 0.8rem 1.6rem var(--shadow);
}

button.soft-shadow:active, a.soft-shadow:active {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--shadow);
}

.text-button{
  background-color: inherit;
  color: var(--link-text);
  padding: 8px;
  display: inline-block;
}

.text-button:hover, .text-button:focus{
  background-color: inherit;
  text-decoration: underline;
  border: none;
  outline: none;
}

div.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.quantity > button {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2.5rem;
  font-weight: 300;
}

div.quantity > span {
  width: 6rem;
  height: 6rem;
  background-color: var(--background-blue);
  display: inline-flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

button.disabled, a.disabled {
  opacity: 30%;
  cursor: unset;
}

button.primary.disabled:hover, 
button.primary.disabled:focus,
a.primary.disabled:hover, 
a.primary.disabled:focus
{
  background-color: var(--primary);
}

button.disabled:hover, 
button.disabled:focus,
a.disabled:hover, 
a.disabled:focus 
{
  background-color: var(--background-blue);
}