button, a.button{
  border-radius: 10rem;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: 2px solid transparent;
  outline: 2px solid transparent;
  border: 2px solid transparent;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  display: inline-flex;
  cursor: pointer;
  margin: 1.5rem 0;
}

button.big, a.big.button {
  height: 100px;
  font-size: 2.2rem;
}

button.logout, a.button.logout {
  background-color: var(--background-warning);
  color: var(--warning);
}

button.logout:hover, a.button.logout:hover, button.logout:focus, a.button.logout:focus {
  background-color: var(--background-warning-dark);
}

button.close {
  border: none;
  outline: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 4.2rem;
  font-size: 4rem;
  font-weight: 200;
  color: var(--dark-text);
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

button.close:hover, button.close:focus {
  border: none;
}

button.square,
a.button.square {
  border-radius: 0.5rem;
  height: 3.6rem;
}

.icon-button {
  display: inline-flex;
  color: var(--link-text);
}

.icon-button:focus {
  border: 2px solid transparent;
  outline: 2px solid transparent;
}

button.primary,
a.button.primary {
  background-color: var(--primary-bg);
  color: var(--primary-fg);
}

button.secondary,
a.button.secondary {
  background-color: var(--blue-bg);
  color: var(--blue-fg);
  fill: var(--blue-fg);
}

button.primary:hover, 
a.button.primary:hover, 
button.primary:focus, 
a.button.primary:focus {
  background-color: var(--primary-bg-dark);
}

button.secondary:hover, 
a.button.secondary:hover, 
button.secondary:focus, 
a.button.secondary:focus {
  background-color: var(--blue-bg-dark);
}

button.soft-shadow, 
a.soft-shadow, 
button.soft-shadow.disabled:hover, 
button.soft-shadow.disabled:focus,
a.soft-shadow.disabled:hover, 
a.soft-shadow.disabled:focus {
  box-shadow: 1rem 1rem 2rem var(--grey-shadow);
}

button.soft-shadow:hover, a.soft-shadow:hover {
  box-shadow: 0.8rem 0.8rem 1.6rem var(--grey-shadow);
}

button.soft-shadow:active, a.soft-shadow:active {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--grey-shadow);
}

button.primary.soft-shadow, 
a.primary.soft-shadow, 
button.primary.soft-shadow.disabled:hover, 
button.primary.soft-shadow.disabled:focus,
a.primary.soft-shadow.disabled:hover, 
a.primary.soft-shadow.disabled:focus {
  box-shadow: 1rem 1rem 2rem var(--primary-shadow);
}

button.primary.soft-shadow:hover, a.primary.soft-shadow:hover {
  box-shadow: 0.8rem 0.8rem 1.6rem var(--primary-shadow);
}

button.primary.soft-shadow:active, a.primary.soft-shadow:active {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--primary-shadow);
}

.text-button{
  background-color: inherit;
  color: var(--link-text);
  padding: 8px;
  display: inline-block;
}

.text-button:hover, .text-button:focus{
  background-color: inherit;
  text-decoration: underline;
  border: none;
  outline: none;
}

div.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.quantity > button {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2.5rem;
  font-weight: 300;
}

div.quantity > span {
  width: 6rem;
  height: 6rem;
  background-color: var(--grey-bg);
  display: inline-flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

button.disabled, a.disabled {
  opacity: 0.3;
  cursor: unset;
}

button.primary.disabled:hover, 
button.primary.disabled:focus,
a.primary.disabled:hover, 
a.primary.disabled:focus
{
  background-color: var(--primary-bg);
}

button.secondary.disabled:hover, 
button.secondary.disabled:focus,
a.secondary.disabled:hover, 
a.secondary.disabled:focus
{
  background-color: var(--blue-bg);
}