.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.cart-item > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-item .quantity > span {
  margin: 0.3rem 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: unset;
}

.cart-item .quantity > button {
  width: 2.8rem;
  height: 2.8rem;
}

.cart-item img {
  margin: 0 1.5rem;
}

.cart-item h4 {
  font-size: 2rem;
}

.cart-item svg {
  fill: var(--dark-text);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.cart-item svg:hover, .cart-item svg:focus {
  fill: var(--warning);
}

.cart {
  display: grid;
  height: 100%;
  grid-template-rows: max-content auto max-content;
  box-sizing: border-box;
}

.cart h1 {
  padding: 0;
}

.cart > * {
  padding: 1.5rem;
}

.cart > section:nth-child(2) {
  overflow-y: auto;
  padding-top: 0;
}

.cart > section:nth-child(3) {
  background-color: var(--background-blue);
  border-radius: 20px 20px 0 0;
}

.cart > section:nth-child(3) > div:first-child {
  display: grid;
  grid-template-columns: auto max-content;
}

.cart > section:nth-child(3) > div:first-child :nth-child(2n) {
  text-align: right;
}

.cart button.primary {
  width: 100%;
}

div.please-login {
  font-size: 1.4rem;
  margin: 1.5rem 0;
}

.cart > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.close-cart {
  background: none;
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 1.5rem;
}

.close-cart svg {
  width: 2.4rem;
  height: 2.4rem;
}

.cart-button {
  width: 60px;
  position: relative;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

.cart-button svg {
  fill: var(--dark-text);
}

#confirm-cart {
  background-color: var(--background-white);
  box-shadow: 0px 10px 10px var(--shadow);
}

.menu-cart .mobile-only {
  display: none;
}

.menu-cart button.mobile-only > div {
  color: var(--dark-text);
  background-color: var(--background-darker);
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0.6rem;
  top: -1.2rem;
  border-radius: 100%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirm-cart .fill.loading {
  width: 0;
}

@media screen and (max-width: 1000px) {
  .menu-cart {
    grid-template-columns: 100vw 100vw;
    overflow-x: clip;
    position: relative;
  }

  #confirm-cart {
    position: absolute;
    top: 0;
    bottom: 0;
    transition-duration: 0.3s;
    /* transition-timing-function: cubic-bezier(1, 0, 0, 1); */
    width: 500px;
    max-width: 100%;
    transition-timing-function: ease-in-out;
  }

  #confirm-cart .fill.loading {
    width: calc(100vw - 500px);
  }

  .menu-cart .slide-cart {
    /* left: 0px; */
    right: 0px;
  }

  .menu-cart .slide-menu {
    /* left: 100vw; */
    right: -100vw;
  }
  
  .menu-cart .mobile-only {
    display: flex;
  }
}