.container {
  margin: 0 auto;
  max-width: 1300px;
  height: calc(100vh - var(--header-height));
}



.fill{
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 2000;

}

.loading{  
  animation: fadeIn;
  animation-duration: 0.5s;
  background: rgba(255, 255, 255, 0.5);
}

.popover{
  background: rgba(255, 255, 255, 0);
}

@keyframes fadeIn {
  from {
    background: rgba(255, 255, 255, 0);
  }
  to {
    background: rgba(255, 255, 255, 0.5);
  }
}

.margin-left-small {
  margin-left: 1rem;
}

.blank-bottom {
  width: 100%;
  height: 5rem;
}

.full-width {
  width: 100%
}