input, textarea {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  background: none;
  margin: 0;
  width: 100%;
  
}

textarea {
  resize: vertical;
}

fieldset{
  padding: 0.9rem 1.8rem;
  margin: 0;
  border-radius: 1.5rem;
  border: 2px solid transparent;
}

fieldset:focus-within {
  border: 2px solid var(--focus);
}

legend {
  margin-bottom: -0.5rem;
  position: relative;
  font-size: 1.2rem;
  height: 2rem;
  padding: 0;
}