div.login-window {
  max-width: 40rem;
  padding: 3rem;
}

div.login-window fieldset {
  background-color: var(--background-blue);
}

div.login-window fieldset:nth-child(n+2) {
  margin-top: 2rem;
}

div.login-window h4 {
  margin-bottom: 0.3rem;
}

div.login-window button.primary {
  width: 100%;
  margin: 3rem 0;
}

div.login-window p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}