#modal-window {
  visibility: hidden;
  background: var(--background-white);
  width: min-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid var(--background-darker);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

@media screen and (max-width: 500px) {
  #modal-window {
    width: 100vw;
    height: 100%;
    border-radius: 0px;
  }

  /* .cancel-modal-buttons{
    flex-direction: column;
  }
  .yes-cancel{
    margin: 10px 0;
  }
  .no-cancel{
    margin: 10px 0;
  } */
}

#modal-window .close svg {
  width: 24px;
  height: 24px;
}

.show-modal-window{
  visibility: visible !important;
  animation: window-fade-in 0.5s;
}

.visible-modal-window{
  visibility: visible !important;
}

.hide-modal-window{
  animation: window-fade-out 0.5s;
}

@keyframes window-fade-in {
  from {top: 25%; opacity: 0;}
  to {top: 50%; opacity: 1;}
}

@keyframes window-fade-out {
  from {top: 50%; opacity: 1;}
  to {top: 25%; opacity: 0;}
}