nav.customer {
  display: flex;
  justify-content: center;
  background-color: var(--pink-bg-light);
}

nav.customer span.desktop, .mobile-nav {
  margin: 0;
  align-items: center;
  margin-bottom: 2px;
  height: var(--header-height);
  width: 100%;
}

nav.customer span.desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  max-width: var(--max-width-customer);
  width: 100%;
}

nav.customer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min-content;
  padding: 0;
}

nav.customer span.desktop a.button {
  width: 12rem;
  height: 3rem;
}

nav.customer span.desktop a.button.primary {
  margin-left: 1.5rem;
}


nav.customer .login {
  cursor: pointer;
}

.mobile-nav {
  display: none;
  outline: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.mobile-nav a.nav-button, #account-popover a {
  justify-content: flex-start;
  padding-left: 3rem;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  width: 100%;
  box-sizing: border-box;
}

#account-popover a.nav-button {
  font-size: 1.4rem;
}

.mobile-nav a.nav-button svg, #account-popover a svg {
  margin-right: 1.5rem;
}

.mobile-nav span {
  padding: 0 1.5rem;
  padding: 0;
  cursor: pointer;
}

.mobile-nav svg, .mobile-nav > span {
  width: 24px;
  height: 24px;
}

nav.customer span.desktop a.button.square {
  height: 4rem;
}

.nav-modal {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1050;
  width: 100%;
  max-width: 250px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: var(--pink-bg-light);
  opacity: 0.98;
  display: flex;
  transition: 0.4s ease-in-out;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  flex: 1;
}

aside.expanded {
  left: 0;
  box-shadow: 0px 10px 10px var(--shadow);
}

.nav-modal > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.nav-modal h2, .nav-modal .nav-logo {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

a.button.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  margin: 1.5rem 1rem;
}

.nav-button svg {
  fill: inherit;
}

.nav-button.mobile {
  font-size: 2rem;
  padding: 1.5rem 3rem;
  margin: 0.8rem 0;
}

.nav-button.desktop {
  padding: 0.1rem 0.8rem;
  width: 14rem;
  justify-content: center;
}

/* .account .nav-button {
  color: var(--light-text);
  fill: var(--light-text);
}

.account > .nav-button.desktop {
  color: var(--dark-text);
  fill: var(--dark-text);
  background-color: var(--secondary);
} */

.account .nav-button.menu {
  padding: 0.8rem 1.5rem;
  margin-bottom: 0.5rem; 
}

.account .nav-button.menu + button {
  border-radius: 5px;
  height: 40px;
  margin: 0;
}

.nav-modal svg, .nav-button svg {
  width: 2rem;
  height: 2rem;
}

/* .nav-button:hover, .nav-button:focus {
  background-color: var(--background-blue);
} */

.nav-button.active {
  /* color: var(--dark-text);
  fill: var(--dark-text); */
  opacity: 80%;
}



/* .nav-button.active {
  background-color: var(--light-text);
  color: var(--background-white);
}

.nav-button.active svg {
  fill: var(--background-white);
}

.nav-button.active:hover, .nav-button.active:focus {
  background-color: var(--dark-text);
}

.nav-button:hover, .nav-button:focus {
  background-color: var(--background-darker);
} */

nav.customer .sign-in {
  display: flex;
}

nav.customer .sign-in a {
  border-radius: 5px;
}

.nav-button svg{
  margin-right: 0.5rem;
}

.nav-modal .button {
  margin: 1.5rem 0;
}

.nav-modal p, #account-popover p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

button.logout {
  margin-top: 1rem;
}

.nav-modal button.logout, #account-popover button.logout {
  border-radius: 5px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo svg {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

#account-popover button.logout {
  margin: 0;
}

#mobile-nav {
  z-index: 3000;
}

#mobile-nav button.close svg {
  width: 2.2rem;
  height: 2.2rem;
  transform: rotate(180deg)
}

span.account {
  position: relative
}

#account-popover {
  display: none;
}

#account-popover section {
  position: absolute;
  z-index: 4000;
  width: 200px;
  background-color: var(--pink-bg-light);
  right: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 5px 5px 10px var(--shadow)
}

@media screen and (max-width: 800px) {
  nav.customer span.desktop {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  :root {
    --header-height: 40px;
  }
  /* .container {
    height: 100vh;
  } */
}

@media screen and (max-height: 600px) {
  .nav-button.mobile {
    padding: 0.8rem 1.2rem;
  }
}