nav.customer ul, .mobile-nav {
  margin: 0;
  align-items: center;
  background-color: var(--background-white);
  margin-bottom: 2px;
  height: calc(var(--header-height) - 2px);
  outline: 2px solid var(--background-darker);
}

nav.customer ul a.button {
  width: 100px;
  height: 30px;
}

nav.customer ul a.button.primary {
  margin-left: 1.5rem;
}

nav.customer a {
  color: var(--dark-text);
  text-decoration: none;
}

nav.customer .login {
  cursor: pointer;
}

.mobile-nav {
  font-size: 2rem;
  /* padding-top: 1.5rem; */
  display: none;
}

.mobile-nav span:first-child {
  padding: 1.5rem;
  cursor: pointer;
}

.nav-modal {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1050;
  width: 100%;
  max-width: 400px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: var(--background-white);
  opacity: 0.98;
  display: flex;
  transition: 0.4s ease-in-out;
  flex-direction: column;
  padding: 3rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  flex: 1;
}

.expanded {
  left: 0;
  box-shadow: 0px 10px 10px var(--shadow);
}

.nav-modal > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.nav-modal h2 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.nav-button {
  color: var(--dark-text);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-blue);
  border-radius: .5rem;
}

.nav-button.mobile {
  font-size: 2rem;
  padding: 1.5rem 3rem;
  margin: 0.8rem 0;
}

.nav-button.desktop {
  padding: 0.3rem 0rem;
  width: 17rem;
  justify-content: center;
}

.nav-modal svg, nav ul svg {
  width: 3rem;
  height: 3rem;
}

.nav-button.active {
  background-color: var(--light-text);
  color: var(--background-white);
}

.nav-button.active svg {
  fill: var(--background-white);
}

.nav-button.active:hover, .nav-button.active:focus {
  background-color: var(--dark-text);
}

.nav-button:hover, .nav-button:focus {
  background-color: var(--background-darker);
}

.nav-button svg{
  margin-right: 1.5rem;
}

.nav-modal .button {
  margin: 1.5rem 0;
}

button.logout {
  margin-top: 1rem;
}

#mobile-nav {
  z-index: 3000;
}

#mobile-nav button.close svg {
  width: 2.2rem;
  height: 2.2rem;
  transform: rotate(180deg)
}

li.account {
  position: relative
}

#account-popover {
  display: none;
}

#account-popover section {
  position: absolute;
  z-index: 4000;
  width: 300px;
  background-color: var(--background-white);
  right: 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  nav.customer ul {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  /* .container {
    height: 100vh;
  } */
}

@media screen and (max-width: 300px) {
  .mobile-nav span:nth-child(n+2) {
    display: none;
  } 
}

@media screen and (max-height: 600px) {
  .nav-button.mobile {
    padding: 0.8rem 1.2rem;
  }
}