nav ul {
  margin: 0;
  align-items: center;
  background-color: var(--background-white);
  margin-bottom: 2px;
  height: calc(var(--header-height) - 2px);
  outline: 2px solid var(--background-darker);

}

nav a {
  color: var(--dark-text);
  text-decoration: none;
}


nav .login {
  cursor: pointer;
}

.mobile-nav {
  position: absolute;
  z-index: 10;
  font-size: 2rem;
  padding-top: 1.5rem;
  display: none;
}

.mobile-nav span:first-child {
  padding: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  nav ul {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .container {
    height: 100vh;
  }
}

@media screen and (max-width: 300px) {
  .mobile-nav span:nth-child(n+2) {
    display: none;
  } 
}


.nav-modal {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: var(--background-white);
  opacity: 0.98;
  display: flex;
  transition: 0.4s ease-in-out;
  flex-direction: column;
  padding: 3rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  flex: 1;
}

.expanded {
  left: 0;
}


.nav-modal-close-button {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: var(--background-white);
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 60px;
  padding: 0px 2rem 0 2rem;
  display: inline-block;

}

.nav-modal-close-button-menu {
  position: unset;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 15px;
}

.nav-modal > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.nav-modal h2 {
  margin-top: 5rem;
}

.nav-modal hr {
  background: var(--light-text);
  margin: 1.5rem 0;
}

.nav-button {
  font-size: 2rem;
  color: var(--dark-text);
  display: flex;
  align-items: center;
  justify-content: start;
  justify-content: flex-start;
  background-color: var(--background-blue);
  border-radius: .5rem;
  padding: 1.5rem 3rem;
  margin: 1.5rem 0;
}

.nav-button:hover, .nav-button:focus {
  background-color: var(--background-darker);
}

.nav-button svg{
  margin-right: 1.5rem;
}

.nav-modal .button {
  margin: 1.5rem 0;
}