.order-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.order .progress {
  height: 15px;
  background-color: var(--background-darker);
  border-radius: 100px;
  overflow: clip;

  background-image: linear-gradient(
    90deg, 
    var(--grey-bg) 0%, 
    var(--background-darker) 33%,
    var(--background-darker) 66%, 
    var(--grey-bg) 100%
    );
  background-size: 75px 75px;
  animation: move 0.3s linear infinite;
  box-shadow: inset 0px 0px 10px var(--background-darker);
}

.order .progress > div {
  height: 100%;
  background-color: var(--primary-bg);
  min-width: 0.5%;
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 75px 0px;
  }
}

.order-map {
  width: 100%;
}

.order-map > div:nth-child(2) {
  height: 200px;
}

.order.container {
  max-width: 800px;
  padding: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.order article {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 250px auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  gap: 1.5rem;
}

.order article section {
  display: flex;
  flex-direction: column;
}

/* .order article section > div:nth-child(2n) {
  margin-top: 3rem;
} */

.order article a, .order article button {
  margin-top: 1.5rem;
  width: 100%;
}

.order h1 {
  margin: 0;
}

.order .invoice-main > div, .order-totals > div {
  display: flex;
  justify-content: space-between;
}

.order .stars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.order .rating button {
  margin-top: 3rem;
  width: 100%;
}

.order .rating h2 {
  margin-top: 3rem;
}

.rating .submitted {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.rating .submitted div.stars {
  margin-bottom: 0;
  margin-right: 1.5rem;
}

span.star {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: var(--background-darker);
}

span.star svg {
  width: 24px;
  height: 24px;
  fill: inherit;
}

span.star.hovered svg{
  width: 30px;
  height: 30px;
}

span.star.filled {
  fill: var(--primary-bg)
}

.invoice-main {
  padding: 1rem;
}

.order-totals {
  background: var(--grey-bg);
  margin-top: 3rem;
  padding: 1rem;
}

.order strong {
  color: var(--primary-bg)
}

.order .modify {
  max-width: 350px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  box-sizing: border-box;
  white-space: normal;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 6rem;
  height: 100%;
  justify-content: space-between;
  max-height: 320px;
}

.order button.close {
  margin: 0;
  width: 4.2rem;
}

.order .modify p {
  margin: 1.5rem 0;
}

svg.back-button {
  width: 6rem;
  height: 6rem;
}

@media screen and (max-width: 700px) {
  .order article {
    grid-template-columns: auto;
  }
}