

.signup > div:first-child {
  width: 30%;
  height: 100%;
  background-color: var(--light-text);
}

.signup .close {
  right: 1rem;
  top: 1rem;
}

.signup fieldset {
  background-color: var(--background-blue);
}

.signup fieldset:nth-child(n+2) {
  margin-top: 2rem;
}

div.submit-buttons {
  display: flex;
  margin-top: 2rem;
  width: 100%;
}

div.submit-buttons > div {
  margin-left: 2rem;
  width: 100%;
}

.signup article {
  margin: 0 1.5rem;
  max-width: 40rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 1.5rem;
  max-height: 550px;
}

.signup form + section {
  margin-top: 1.5rem;
}

.signup form section {
  height: 220px;
}

@media screen and (max-width: 650px) {
  .signup > div:first-child {
    width: 0;
  }

  .signup .container {
    margin: 0 auto;
  }
}