nav.categories {
  display: grid;
  grid-template-columns: 10rem 10rem;
  justify-content: center;
  text-align: center;
  height: 40px;
}

nav.categories > div {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  justify-content: flex-end;
}

nav.categories > div > div {
  background-color: var(--primary-bg);
  /* width: 100%; */
  height: 4px;
}

nav.categories h2 {
  transition-duration: 0.3s;
}

nav.categories h2.inactive {
  color: var(--light-text);
  font-size: 1.8rem;
}

#category-selector {
  animation-duration: 1s;
  position: absolute;
  bottom: 0;
  width: 100%;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier();
}

@keyframes leftToRight {
  from {
    right: 40%;
    left: 40%;
  }
  50% {
    right: -60%;
    left: 40%;
  }
  to {
    right: -60%;
    left: 140%;
  }
}

@keyframes rightToLeft {
  from {
    right: -60%;
    left: 140%;
  }
  50% {
    right: -60%;
    left: 40%;
  }
  to {
    right: 40%;
    left: 40%;
  }
}

.category-0 {
  left: 40%;
  right: 40%;
  animation-name: rightToLeft;
  width: unset !important;
}

.category-1 {
  right: -60%;
  left: 140%;
  animation-name: leftToRight;
  width: unset !important;
}

.menu-list {
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  box-sizing: border-box;
}

.menu-item-card {
  background-color: var(--grey-bg);
  margin: 1.5rem;
  width: 200px;
  height: 400px;
  display: inline-block;
  display: inline-flex;
  flex-direction: column;
  white-space: normal;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.menu-item-card img {
  margin: 3rem;
  width: 13rem;
}

.menu-item-card p {
  font-size: 1.2rem;
}

.menu-item-card h2 {
  margin: 1.5rem 0;

}

.container > h1 {
  /* padding: 1.5rem; */
  padding: 1.5rem 0;
}

.menu-item-card > div {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 1.4rem;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.menu-cart {
  display: grid;
  grid-template-columns: auto 400px;
  width: 100%;
  height: 100%
}

.menu-cart article {
  overflow: auto;
  overflow-x: auto;
  overflow-y: clip;
}

.menu-item-modal {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
  white-space:normal
}

.menu-item-modal h3 {
  margin-top: 60px;
  text-align: center;
}

.menu-item-modal h2 {
  margin-top: 0;
}

.menu-item-modal p {
  text-align: center;
  font-size: 1.2rem;
}

.menu-item-modal img{
  width: 180px;
  margin: 30px 0;
}

.menu-item-modal > section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
}

.menu-item-modal > section > button {
  width: 100px;
}

.menu-van {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 3rem;
  padding-right: 1.5rem;
}

.menu-van p {
  font-size: 1.4rem;
}

.menu-van h4 {
  color: var(--light-text);
}

.menu-van p strong {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--warning)
}

.menu-van > div {
  background: var(--grey-bg);
  margin: 0 1.5rem;
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1.5rem;
}

.menu-van > div > a {
  position: absolute;
  fill: var(--dark-text);
  right: 10%;
  top: -2rem;
  width: 40px;
  height: 40px;
  background: var(--grey-bg);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item > div > a svg {
  width: 24px;
  height: 24px;
}

.menu-van > div > section {
  display: flex;

}

.menu-van svg {
  fill: var(--dark-text);
  margin: 0;
}

section.chosen-van svg {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

section.chosen-van > div {
  margin-left: 1rem;

}

@media screen and (max-height: 575px) {
  .menu-item-modal img {
    width: 100px;
  }

  .menu-item-modal p {
    max-width: 200px;
  }

  .menu-item-modal > section {
    padding: 1rem;
    width: 22rem;
  }

  .menu-item-modal h3 {
    margin-top: 0px;
  }

  div.quantity > span {
    width: 4rem;
    height: 4rem;
  }

  div.quantity > button {
    width: 2rem;
    height: 2rem;
  }
}

@media  screen and (max-width: 650px ), 
        screen and (max-height: 700px) {
  .menu-cart h1 {
    font-size: 3rem;
    padding: 1rem;
    padding-bottom: 2rem;
    line-height: 0.9;
  }

  .menu-cart nav.categories {
    height: 3rem;
    grid-template-columns: 8rem 8rem;
  }

  .menu-cart nav.categories h2 {
    font-size: 2rem;
  }

  .menu-cart nav.categories h2.inactive {
    font-size: 1.5rem;
  }

  .menu-item-card {
    height: 250px;
  }

  .menu-item-card h3 {
    font-size: 1.6rem;
  }

  .menu-item-card p {
    display: none;
  }

  .menu-item-card img {
    margin: 1.5rem;
  }

  .menu-van > div {
    padding: 1rem 0.5rem;
    margin: 0 1rem;
    border-radius: 5px;
  }

  .menu-van p {
    font-size: 1.2rem;
  }

  .menu-van > div > a {
    width: 3rem;
    height: 3rem;
  }

  .menu-van > div > a svg {
    width: 2rem;
    height: 2rem;
  }

  section.chosen-van svg {
    width: 3rem;
    height: 3rem;
  }

  .menu-van h4 {
    font-size: 1.2rem;
  }

  .menu-cart .cart-button {
    margin-right: 0;
  }
}