nav.categories {
  display: grid;
  grid-template-columns: 10rem 10rem;
  justify-content: center;
  text-align: center;
}

nav.categories > div {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

nav.categories > div > div {
  background-color: var(--primary);
  /* width: 100%; */
  height: 4px;
}

#category-selector {
  animation-duration: 1s;
  position: absolute;
  bottom: 0;
  width: 100%;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier();
}

@keyframes leftToRight {
  from {
    right: 40%;
    left: 40%;
  }
  50% {
    right: -60%;
    left: 40%;
  }
  to {
    right: -60%;
    left: 140%;
  }
}

@keyframes rightToLeft {
  from {
    right: -60%;
    left: 140%;
  }
  50% {
    right: -60%;
    left: 40%;
  }
  to {
    right: 40%;
    left: 40%;
  }
}

.category-right {
  right: -60%;
  left: 140%;
  animation-name: leftToRight;
  width: unset !important;
}

.category-left {
  left: 40%;
  right: 40%;
  animation-name: rightToLeft;
  width: unset !important;
}

.menu-list {
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  box-sizing: border-box;
}

.menu-item-card {
  background-color: var(--background-blue);
  margin: 1.5rem;
  width: 250px;
  height: 350px;
  display: inline-block;
  display: inline-flex;
  flex-direction: column;
  white-space: normal;
  align-items: center;
  cursor: pointer;
}

.menu-item-card img {
  margin: 3rem;
  width: 13rem;
}

.menu-item-card p {
  font-size: 1.2rem;
}

.menu-item-card h2 {
  margin: 1.5rem 0;

}

.container > h1 {
  margin: 0 1.5rem;
}

.menu-item-card > div {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 1.4rem;
  height: 100%;
  flex: 1;
  justify-content: space-between;
}

.menu-cart {
  display: grid;
  grid-template-columns: auto 400px;
  width: 100%;
  height: 100%
}

.menu-cart article {
  overflow: auto;
  overflow-x: auto;
  overflow-y: clip;
}

.menu-item-modal {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
  white-space:normal
}

.menu-item-modal h3 {
  margin-top: 60px;
  text-align: center;
}

.menu-item-modal h2 {
  margin-top: 0;
}

.menu-item-modal p {
  text-align: center;
  font-size: 1.2rem;
}

.menu-item-modal img{
  margin: 30px 0;
}

.menu-item-modal > section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
}

.menu-item-modal > section > button {
  width: 100px;
}

.menu-van {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 3rem;
  padding-right: 1.5rem;
}

.menu-van p {
  font-size: 1.4rem;
}

.menu-van > div {
  background: var(--background-blue);
  margin: 0 1.5rem;
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1.5rem;
}

.menu-van > div > a {
  position: absolute;
  fill: var(--dark-text);
  right: 5rem;
  top: -2rem;
  width: 40px;
  height: 40px;
  background: var(--background-blue);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-van > div > section {
  display: flex;

}

.menu-van svg {
  fill: var(--dark-text);
}

