.van-bg {
  background: var(--background-darker);
  height: calc(100vh - var(--header-van-height));
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.van-orders {
  border-top: 10px solid var(--van-orders);

}

.van-bg > section {
  max-width: var(--max-width-van);
  width: 100%;
}

.van-fulfilled {
  border-top: 10px solid var(--van-fulfilled);
}

.van-completed {
  border-top: 10px solid var(--van-past-orders);
}

div.van {
  margin: 1rem;
  border-radius: 5px;
  overflow: clip;
  display: flex;
}

div.van section {
  background: var(--background-white);
  position: relative;
}

div.van section.main-info {
  flex: 1;
  padding: 0 1.5rem;
}

div.van span.notice {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

div.van span.notice strong{
  color: var(--warning);
  text-transform: uppercase;
}

div.van .main-info .details {
  margin-right: 2rem;
}

div.van .countdown {
  display: flex;
  flex-direction: column;
}

div.van .countdown > div {
  margin-top: 0;
  align-items: center;
  border-radius: 5px;
  height: min-content;
  background-color: var(--grey-bg);
  padding: 0;
  overflow: clip;
  display: grid;
  grid-template-columns: auto 30px;
}

div.van.fulfilled .countdown > div > div:nth-child(2) {
  background-color: var(--background-van-fulfilled);
}

div.van.completed .countdown > div > div:nth-child(2) {
  background-color: var(--background-van-past-orders);
}

div.van .countdown > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

div.van .countdown > div > div:first-child {
  padding: 1rem;
  padding-left: 2rem;
  width: 145px;
}

div.van .countdown > div > div:nth-child(2) {
  width: 30px;
  height: 100%;
}

div.van .countdown h2 {
  font-weight: 600;
}

div.van .countdown h4 {
  margin: 1rem;
  margin-bottom: 0;
}

div.van .chevron {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%) rotate(90deg);
}

div.van .chevron.expanded {
  transform: translateX(-50%) rotate(-90deg);
}

div.van .complete {
  min-width: 130px;
}

div.van .complete button {
  width: 100%;
  margin: 1.5rem;
}

div.van-order .complete button {
  background-color: var(--background-van-orders);
}

div.van.fulfilled .complete button {
  background-color: var(--background-van-fulfilled);
}


div.van-order .complete button:hover, div.van-order .complete button:focus {
  background-color: var(--background-van-orders-darker)
}

div.van.fulfilled .complete button:hover, div.van.fulfilled .complete button:focus {
  background-color: var(--background-van-fulfilled-darker)
}

div.van-order .complete svg {
  fill: var(--van-orders);
}

div.van.fulfilled .complete svg {
  fill: var(--van-fulfilled);
}

div.van ul {
  flex-direction: column;
  margin: 0;
  margin-bottom: 4rem;
}

div.van .details {
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 4rem;
  background-color: var(--grey-bg);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 
  height: 0px;
  overflow: hidden;
}

div.van .details.with-rating {
  justify-content: flex-start;
}

div.van .details > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.van .details, div.van .chevron {
  transition: all 0.4s ease-out;
}

div.van .details.expanded {
  height: var(--expanded-height);
}

div.van .details div.section {
  /* max-height: 0px; */
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: repeat(5, min-content);
  grid-column-gap: 1.5rem;
  column-gap: 1.5rem;
  margin: 0;
  padding: 1.5rem;
}

.disappear-right {
  transform: translateX(50%);
  opacity: 0%;
  transition-duration: 0.5s;
}

div.van .details div.section > div:nth-child(2n-1) {
  text-align: right;
}

@media screen and (max-width: 800px) {
  div.van .details.with-rating {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .van{
    display: flex;
    flex-direction: column;
  }
}

div.calcChildSize {
  overflow: hidden;
  height: 0;
}

div.calcChildSize > div {
  overflow: hidden;
}

