:root {
  --header-height: 50px;
  --background-blue: #eff5f9;
  --background-white: #ffffff;
  --background-darker: #e0e8ed;
  --background-card: #F6F8F9;
  --dark-text: #10254f;
  --light-text: #4f5e7c;
  --shadow: #00133933;
  --link-text: #002e8a;
  --focus: #296ea2;
  --un-focus: #b6c8d5;
  --orange: #c95100;
  --underline: rgba(0, 19, 57, 0.8);
  --avatar-width: 128px;
  --order-light: #C4CDE2;
  --order-mid: #76ABDA;
  --order-strong: #4C78AC;
  --fulfilled-light: #DCE7E8;
  --fulfilled-mid: #9AC5CB;
  --fulfilled-strong: #709EA8;
  --history-light: #B4B0DA;
  --history-mid: #7477BB;
  --history-strong: #8378E4;
  --my-van-strong: #5DB68B;

  --primary: #FF740F;
  --primary-dark: #e36308;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-white);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6em;
  color: var(--dark-text)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 3.6rem;
  font-weight: normal;
  margin: 0;
  padding: 1.5rem 0;
}

h3 {
  font-size: 2.1rem;
  font-weight: normal;
  margin: 0;
}


h2 {
  font-size: 2.6rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1.4rem;
  margin: 0;
  color: var(--dark-text);
  font-weight: 500;
}

h5 {
  font-size: 30pt;
  color: var(--dark-text);
  margin: 30px auto;
  text-align: center;
  max-width: 400px;
  font-weight: 600;
  width: 80vw;
}

h6 {
  color: var(--dark-text);
}

p {
  color: var(--light-text);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

table {
  border-collapse: separate;
  width: 80%;
  max-width: 800px;
  border: 5px solid var(--background-darker);
  border-radius: 20px;
  background-color: var(--background-white);
  border-spacing: 0px;
}

tr:last-child td {
  border: 1px none var(--orange);
}

th, td {
  border-bottom: 1px solid var(--underline);
  border-collapse: collapse;
  padding: 14px
}

tr:first-child {
  background-color: var(--background-darker);
}

tr:first-child th {
  border-bottom: 1px none var(--orange);
}

hr {
  background: var(--underline);
  height: 2px;
  border: 0px;
  margin: 30px;
}

textarea {
  font-size: 14px;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: var(--background-white);
  padding: 1em;
  margin: 0;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
}


.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
