:root {
  --header-height: 50px;
  --header-van-height: 70px;
  --max-width-van: 140rem;
  --background-blue: #F6F8F9;
  --background-blue-transparent: #F6F8F988;
  --background-white: #ffffff;
  --background-darker: #e0e8ed;

  --dark-text: #3c4048;
  --light-text: #8a91a1;
  --shadow: #00133933;
  --link-text: #435a8a;
  --focus: #296ea2;
  --un-focus: #b6c8d5;
  --orange: #c95100;
  --underline: rgba(0, 19, 57, 0.8);
  --avatar-width: 128px;
  --order-light: #C4CDE2;
  --order-mid: #76ABDA;
  --order-strong: #4C78AC;
  --fulfilled-light: #DCE7E8;
  --fulfilled-mid: #9AC5CB;
  --fulfilled-strong: #709EA8;
  --history-light: #B4B0DA;
  --history-mid: #7477BB;
  --history-strong: #8378E4;
  --my-van-strong: #5DB68B;

  /* --primary: #FF740F;
  --primary-dark: #e36308;
  --background-primary: #fff0e7; */


    --primary: #fda362;
  --primary-dark: #d58b56;
  --background-primary: #fff0e7;

  --secondary: #f8f0c6;

  --warning: #bf0101;  
  --background-warning: #fae8e8;
  --background-warning-dark: #f0dbdb;
  
  --success: #008800;
  --background-success: #e8fae8;

  --van-my-van: #009b8c;
  --background-van-my-van: #cdfff8;
  --background-van-my-van-darker: #acfff4;

  --van-orders: #c900c9;
  --background-van-orders: #ffe1ff;
  --background-van-orders-darker: #ffc1ff;

  --van-fulfilled: #5e00c9;
  --background-van-fulfilled: #efe1ff;
  --background-van-fulfilled-darker: #dcbeff;

  --van-past-orders: #0061c9;
  --background-van-past-orders: #deeeff;
  --background-van-past-orders-darker: #badbff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-white);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4em;
  color: var(--dark-text);
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: stretch;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 3.6rem;
  font-weight: 300;
  margin: 0;
  padding: 1.5rem 0;
  margin-left: 1.5rem;
}

h3 {
  font-size: 2.1rem;
  font-weight: normal;
  margin: 0;
}


h2 {
  font-size: 2.6rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1.4rem;
  margin: 0;
  color: var(--dark-text);
  font-weight: 500;
}

h5 {
  font-size: 1.2rem;
  color: var(--dark-text);
  font-weight: 400;
  margin: 0;
}

h6 {
  color: var(--dark-text);
}

p {
  color: var(--light-text);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--link-text);
  font-weight: 500;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

fieldset {
  background-color: var(--background-blue);
}

svg {
  fill: var(--dark-text);
  width: 24px;
  height: 24px;
}