:root {
  --header-height: 50px;
  --header-van-height: 70px;
  --max-width-van: 140rem;
  --max-width-customer: 130rem;
  --background-white: #ffffff;
  --background-darker: #e0e8ed;

  --dark-text: #3c4048;
  --light-text: #8a91a1;
  --shadow: #c16a2a54;
  --link-text: #435a8a;
  --focus: #296ea2;
  --un-focus: #b6c8d5;
  --orange: #c95100;
  --underline: rgba(0, 19, 57, 0.8);
  --avatar-width: 128px;
  --order-light: #C4CDE2;
  --order-mid: #76ABDA;
  --order-strong: #4C78AC;
  --fulfilled-light: #DCE7E8;
  --fulfilled-mid: #9AC5CB;
  --fulfilled-strong: #709EA8;
  --history-light: #B4B0DA;
  --history-mid: #7477BB;
  --history-strong: #8378E4;
  --my-van-strong: #5DB68B;

  /* --primary-bg: #FF740F;
  --primary-bg-dark: #e36308;
  --primary-bg-light: #fff0e7; */


  --pink-bg-light: #fff6f7;
  --pink-bg: #ffeaed;
  --pink-bg-dark: #ffd5da;
  --pink-bg-bright: #ff4359;
  --pink-fg: #A7636B;

  --orange-bg-light: #fff7ef;
  --orange-bg: #FFEEDE;
  --orange-bg-dark: #ffdebd;
  --orange-bg-bright: #ff8e24;
  --orange-fg: #895A2E;

  --yellow-bg-light: #fffdf3;
  --yellow-bg: #fffae0;
  --yellow-bg-dark: #fff2b6;
  --yellow-bg-bright: #ffdd32;
  --yellow-fg: #6A5C14;
  
  --blue-bg-light: #f4f9ff;
  --blue-bg: #e6f3ff;
  --blue-bg-dark: #d5ebff;
  --blue-bg-bright: #5cb0ff;
  --blue-fg: #2a4761;
  
  --grey-bg-light: #f6f8fa;
  --grey-bg: #f3f4f5;
  --grey-bg-dark: #cbd1d6;
  --grey-fg: #e5e8eb;
  --grey-bg-transparent: #F6F8F988;
  --grey-shadow: #1c1a682e;



  --primary-bg-light: #fff0e7;
  --primary-bg: #ffb783;
  --primary-bg-dark: #ffa666;
  --primary-fg: #4f2e17;
  --primary-shadow: #c16a2a54;


  --secondary: #f8f0c6;

  --warning: #bf0101;  
  --warning-bg: #fae8e8;
  --warning-bg-dark: #ffd4d4;
  
  --success: #008800;
  --background-success: #e8fae8;

  --van-my-van: #009b8c;
  --background-van-my-van: #cdfff8;
  --background-van-my-van-darker: #acfff4;

  --van-orders: #c900c9;
  --background-van-orders: #ffe1ff;
  --background-van-orders-darker: #ffc1ff;

  --van-fulfilled: #5e00c9;
  --background-van-fulfilled: #efe1ff;
  --background-van-fulfilled-darker: #dcbeff;

  --van-past-orders: #0061c9;
  --background-van-past-orders: #deeeff;
  --background-van-past-orders-darker: #badbff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-white);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4em;
  color: var(--dark-text);
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: stretch;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 3.6rem;
  font-weight: 300;
  margin: 0;
  padding: 1.5rem 0;
  margin-left: 1.5rem;
}

h3 {
  font-size: 2.1rem;
  font-weight: normal;
  margin: 0;
}


h2 {
  font-size: 2.6rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1.4rem;
  margin: 0;
  color: var(--dark-text);
  font-weight: 500;
}

h5 {
  font-size: 1.2rem;
  color: var(--dark-text);
  font-weight: 400;
  margin: 0;
}

h6 {
  color: var(--dark-text);
}

p {
  color: var(--light-text);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--link-text);
  font-weight: 500;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

fieldset {
  background-color: var(--grey-bg);
}

svg {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}